* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    top: 0;
    padding: 1rem;
}

.containter > main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containter > main > a {
    text-decoration: none;
}
